<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курс Samsung (трек Интернета вещей) — ANPR</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }

    th, td { padding: 10px; }
</style>
<body>
    <h1>Записи логов вашего преграждения под идентификатором {{ barrier.id }}</h1>
    {% if barrier is not none %}
        <table>
            <tr>
                <th>Номер записи</th>
                <th>Произошедшее событие</th>
                <th>Дата и время</th>
                <th>Изображение</th>
            </tr>
        {% for log in barrier.logs %}
            <tr>
                <td>{{ log.record_number }}</td>
                <td>{{ log.event }}</td>
                <td>{{ log.datetime }}</td>
                <td><img src="data:image/png;base64, {{ log.frame }}" alt="" height="240" width="320"></td>
            </tr>
        {% endfor %}
        </table><br>
    {% endif %}
</body>
</html>