<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Samsung Course (Internet of Things track) — ANPR</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }
</style>
<body>
    <h1>List of your barriers</h1>
    {% if barriers is not none %}
        <table>
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Location</th>
                <th>License Plates</th>
                <th>Logs</th>
            </tr>
        {% for barrier in barriers %}
            <tr>
                <td>{{ barrier.id }}</td>
                <td>{{ barrier.model }}</td>
                <td>{{ barrier.location }}</td>
                <td>
                {% for license_plate in barrier.license_plates %}
                    {{ license_plate }}<br>
                {% endfor %}
                </td>
                <td><a href="{{ url_for('barrier_logs', client_id=request.args.get('client_id'), barrier_id=barrier.id) }}">View</a></td>
            </tr>
        {% endfor %}
        </table><br>
    {% endif %}
    <a href="{{ url_for('add_barrier', client_id=request.args.get('client_id')) }}">Add Barrier</a>
</body>
</html>