<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курс Samsung (трек Интернета вещей) — ANPR</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }

    th, td { padding: 10px; }
</style>
<body>
    <h1>Список ваших преграждений</h1>
    {% if barriers is not none %}
        <table>
            <tr>
                <th>Идентификатор</th>
                <th>Модель</th>
                <th>Месторасположение</th>
                <th>Допустимые к проезду<br>автомобильные номера</th>
                <th>Возможные события</th>
                <th>Записи логов</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
        {% for barrier in barriers %}
            <tr>
                <td>{{ barrier.id }}</td>
                <td>{{ barrier.model }}</td>
                <td>{{ barrier.location }}</td>
                <td>
                {% for license_plate in barrier.license_plates %}
                    {{ license_plate }}<br>
                {% endfor %}
                </td>
                <td>
                {% for event in barrier.events %}
                    {{ loop.index }}. {{ event }}<br>
                {% endfor %}
                </td>
                <td><a href="{{ url_for('barrier_logs', client_id=request.args.get('client_id'), barrier_id=barrier.id) }}">Посмотреть</a></td>
                <td>
                    <a href="{{ url_for('edit_barrier', client_id=request.args.get('client_id'), barrier_id=barrier.id) }}">
                        <img src="../static/edit_barrier_icon.png" alt="Редактировать преграждение" height="20px" width="20px">
                    </a>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('delete_barrier', client_id=request.args.get('client_id'), barrier_id=barrier.id) }}">
                        <input
                                type="image"
                                src="../static/delete_barrier_icon.png"
                                alt="Удалить преграждение"
                                onclick="return confirm('Вы действительно хотите удалить данное преграждение?')"
                                height="30px"
                                width="30px"
                        >
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table><br>
    {% endif %}
    <a href="{{ url_for('add_barrier', client_id=request.args.get('client_id')) }}">Добавить новое преграждение</a>
</body>
</html>