<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курс Samsung (трек Интернета вещей) — ANPR</title>
</head>
<body>
    <h1 style="margin-bottom: 15px">Информация о редактируемом преграждении</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <b><label style="font-size: 10px">Модель</label><br></b>
        {{ form.model }}<br>
        <b><label style="font-size: 10px">Месторасположение</label><br></b>
        {{ form.location }}<br>
        <b><label style="font-size: 10px">*Допустимые к проезду автомобильные номера</label><br></b>
        {{ form.license_plates }}<br>
        <b><label style="font-size: 10px">Возможные события</label><br></b>
        {{ form.events }}<br><br>
        {{ form.submit }}
    </form>
</body>
</html>